@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.primary-c {
    @apply bg-[#666555]
}

.secondary-c {
    @apply bg-[#f9f9f9]
}

.flex-c {
    @apply flex flex-col
}

.flex-c-1 {
    @apply flex flex-col flex-1
}

.nav-btn {
   @apply text-[#E2F0F7] hover:border-[#E2F0F7] border-transparent border-2 px-3 py-2 rounded-xl
}

/* Profile Page Styling for after successful Login */
.profile-display {
    width: 35%;
    max-width: 400px;
    min-width: 250px;
    padding: 2rem;
    border: 2px solid #666555;
    border-radius: 25px;
    box-shadow: 5px 5px #666555;
}

.profile-display img {
    border-radius: 50px;
    width: 80%;
    margin: auto;
}

.profile-display h3 {
    font-size: 2.5vw;
    font-weight: bold;
}

.profile-display hr {
    width: 90%;
    height: 2.5px;
    background-color: black;
    margin: 0 auto;
}

.profile-display a {
    font-size: 1.5vw;
    color: #2077B4;
    
}

.profile-display a:hover {
    color: #C58AF9;
}

.profile-display button {
    background-color: #666555;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
    width: 40%;
    margin: 5px auto;
    justify-content: center;
}

.profile-display button:hover {
    background-color: #554;
}